<%= turbo_stream_from @discussion %>
<%= render partial: "header", locals: { discussion: @discussion } %>

<hr class="my-4">

<div class=<%= dom_id @new_post %>>
  <%= render "discussions/posts/form", post: @new_post %>
</div>